body {
  background-color: crimson;
}

#title {
  font-family: "Lucida Handwriting";
  color: cornsilk;
  text-align: center;
}

h2, form {
    font-family: "Helvetica";
    color: white;
    text-align: center;
}
