section {
  border: 2px solid blue;
  display: inline-block;
}

.subjudul {
  border: 2px solid rebeccapurple;
  display: inline;
}

p {
  border: 2px solid chocolate;
  display: block;
  padding: .5em;
}

#judul {
  color: navy;
  text-align: center;
}
